
body {
	background-color: #888;
}


  .Image{
  display: block;
  border: solid 0px red;
  position: relative;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
::-webkit-scrollbar { 
    display: none; 
}

@media screen and (min-width: 502px){

#map {
	height: 50%;
	width: 100%;
}

.white_back{
	position: absolute; height: 50%; width: 100%; top: 50%;background-color: #fff;	
}

#info{
height: 50%; width:98%; display: block; border: solid 0px red; position: relative; top: 0%; background-color: white; left: 2%
}

.special{
	font-size: 3em; font-weight: bold; height: 30%; width: 40%; position: absolute; border: solid 0px blue; top: 5%;
}

.txtf{
	display: block; border: solid 0px black; height:60%; position: absolute; top: 40%; width: 40%;
}

form{
	width: 50%; height: 100%;  display: block; position: absolute; left: 48%; top: 5%;
}

.spil{
	display: none;
}

#dn{
	display: none;
}


.socialc{
	text-align: left; height: 100%; top:0%; width: 100%; position: absolute;  display: block;  
}

.footerc{
	position: relative; left: 0px; height: 30px; display: block; border: solid 0px blue; width: 100%; background-color: #fff; z-index: 5;
	font-size: 0.75em;

}

.tagc{
	height: 30px; width: 30px; display: inline-block;
	background-size: 30px 30px;
	margin-right: 5px;
}

}

@media screen and (max-width: 502px){

#map {
	height: 50%;
	width: 100%;
}

	.main{
		display: block;
	}
	form{
	width: 100%; height: 100%;  display: block; position: relative; left: 0%; top: 5%;
}
.special{
	font-size: 3em; font-weight: bold; height: 30%; width: 100%; position: relative; border: solid 0px blue; top: 5%;
}

.txt{
	display: block; border: solid 0px black; height:100%; position: relative;  width: 100%;
}

.spil{
	display: block;
}	
#dn{
	z-index: 50;
	display: block;
	position: fixed;
	bottom: 50px;
	right: 5px;
	height: 30px;
	width: 25px;

	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}




.socialc{
	text-align: left; height: 100%; top:0%; width: 100%; position: absolute;  display: block; right: 10%; 
}

.footerc{
	position: relative; left: 20%; height: 30px; display: block; border: solid 0px blue; width: 100%; background-color: #f3f3f3; z-index: 5;
	font-size: 0.75em;

}

.tagc{
	height: 30px; width: 30px; display: inline-block;
	background-size: 30px 30px;
	margin-right: 10px;
}


}	