body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.box
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    padding: 40px;
    background: rgba(0,0,0,.8);
    box-sizing: border-box;
    box-shadow: 30px 30px 25px rgba(0,0,0,.5) , 20px 20px 10px rgba(1,1,1,0.5) inset;
    border-radius: 15px;
}

.box h2
{
    margin: 0 0 30px;
    padding: 0;
    color:#fff;
    text-align: center;
}

.box .inputbox
{
    position: relative;
}
.box .inputbox input 
{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color:#fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    
}

.box .inputbox label
{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color:#fff;
    pointer-events: none;
    transition: .5s;
}

.box .inputbox input:focus ~ label,
.box .inputbox input:valid ~ label
{
    top: -18px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;
}

.box input[type="submit"]
{
    background: transparent;
    border: none;
    outline: none;
    colour: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.box a{
    color: black;
}

.box a button
{
    background: transparent;
    border: none;
    outline: none;
    colour: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}